
# konfigurace služeb poskytovaných balíčkem
# tento config se nahrává před configy aplikace, proto mohou být nastavení aplikací změněny

parameters:
	repositories:
		geocodingResults: Clevis\Geolocation\GeocodingResultsRepository
		geocodingQueries: Clevis\Geolocation\GeocodingQueriesRepository
		geocodingPositions: Clevis\Geolocation\GeocodingPositionsRepository

services:
	geocodingCache: Clevis\Geolocation\OrmGeocodingCache

	geocodingResultsRepository:
		class: %repositories.geocodingResults%
		factory: @orm.getRepository(geocodingResults)
	geocodingQueriesRepository:
		class: %repositories.geocodingQueries%
		factory: @orm.getRepository(geocodingQueries)
	geocodingPositionsRepository:
		class: %repositories.geocodingPositions%
		factory: @orm.getRepository(geocodingPositions)
